@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.body-mic {
  background-color: #4b8a5e;
  background-image: radial-gradient(rgb(28, 0, 46) 10px, transparent 15px);
  background-size: 20px 20px;
  overflow-y: scroll;
}
.poster-wrapper {
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
}
#mic-loading {
  font-size: 3rem;
  color:#f0db4f;
  text-shadow: 0px 0px 20px #000000;
}

.poster-container {
  max-width: 800px;
  background: rgba(0, 0, 0, 0.85);
  padding: 3rem 2rem;
  border: 3px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
}

.poster-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.poster-subtitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #f0db4f;
}
.video-frame {
  height: 20%;
}
.video-frame iframe {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 6px;
  margin-bottom: 1.5rem;
}

.poster-description {
  font-size: 1.2rem;
  opacity: 0.85;
  line-height: 1.5;
}

.back-button-mic {
  position: absolute;
  left: 3%;
  top: 24px;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 25px solid rgb(114, 133, 127);
  border-left: transparent;
	border-bottom: 12px solid transparent;
  backface-visibility: hidden;
  background-color: transparent;
  padding: 0%;
  stroke: none;
  box-shadow: none;
  z-index: 9999;
}
.back-button-mic:hover{
  border-right: 25px solid rgb(160, 201, 188);
}
@media only screen and (min-width: 768px) {
  .back-button-mic{
    top: 40px;
    border-top: 20px solid transparent;
    border-right: 45px solid rgb(117, 153, 143);
    border-bottom: 20px solid transparent;
  }
  .back-button-mic:hover{
    border-right: 45px solid rgb(160, 201, 188);
  }
  #mic-loading {
    font-size: 5rem;
  }
}