.body-component-a{
  background-color: rgb(18, 15, 20);
  background-image: none;
  overflow-y: scroll;
}
#shapegroup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  overflow-y: visible;
  overflow-x: visible;
}
.shapes {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: transparent url("./img/foggyshapes.png") center center;
  opacity: 50%;
  overflow-y: visible;
  overflow-x: visible;
}

#horizontalshape {
  x-transition: all 2s ease-in-out;
  animation: leftright 45s infinite;
}
#verticalshape {
  y-transition: all 2s ease-in-out;
  animation: updown 32s infinite;
}
#rotateleftshape {
  animation: spinl 96s linear infinite;
  transform-origin: center center;
}
#rotaterightshape {
  animation: spinr 83s linear infinite;
  transform-origin: center center;
}
@keyframes spinr {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}
@keyframes spinl {
  from {
    transform: rotate(360deg)
  }

  to {
    transform: rotate(0deg)
  }
}
@keyframes leftright {
  0% {
    left: 0vw;
  }

  50% {
    left: 10vw;
  }

  100% {
    left: 0vw;
  }
}
@keyframes updown {
  0% {
    bottom: 0vh;
  }

  50% {
    bottom: 10vh;
  }

  100% {
    bottom: 0vh;
  }
}

.vidButton{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Courier',sans-serif;
  font-weight:300;
  background-color:#ffffff00;
  color: #FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }
.vidButton:hover{
  color:#000000;
  background-color:#FFFFFF;
}
.block{
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(54, 54, 54, 0.253);
  /* border: 3px solid deeppink; */
  padding: 1%;
  overflow: hidden;
}
.vidplayer{
  float: left;
  border: none;
	width: 350px;
	height: 250px;
}
.head{
  font-family: "Patrick Hand";
	font-size: 32px;
	color:  floralwhite;
	/* text-shadow: -2px 2px 8px grey,
				  2px 2px 8px grey,
				  2px -2px 0 grey,
				  -2px -2px 0 grey; */
}
.explan{
  font-size: 18px;
  color: floralwhite;
  font-family: courier;
}
.partition{
  margin-left: 10%;
  text-align: left;
  font-size: 40px;
  color: whitesmoke;
}